.key-grid {
  display: grid;
  grid-template-columns: repeat(3, 4rem);
  grid-gap: 5px;
  justify-content: center;
}

#drum-machine {
    height: auto;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
